= form_with(model: team, local: true, html: { multipart: true }) do |form|
  - if team.errors.any?
    #error_explanation.alert.alert-danger
      %ul
        - team.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :name, class:'control-label'
    = form.text_field :name, class: 'form-control'
  .form-group
    = form.label :logo, class:'control-label'
    = form.file_field :logo, class: 'form-control'
  .actions
    = form.submit class: 'btn btn-primary'
    = link_to 'Back', root_path, class: 'btn btn-default'
