%h2= t('tournaments.title')
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr.info
        %th= t('tournaments.table.name')
        %th.thin-column= t('tournaments.table.count')
        %th.thin-column= t('tournaments.table.participants')
        - if current_user && current_user.team.present?
          %th.text-center.thin-column= t('tournaments.table.actions')
    %tbody
      - @tournaments.each do |tournament|
        %tr{ id: "tournament_row_#{tournament.id}" }
          = render 'tournament_row', tournament: tournament
      